<section class="sectionOne">
    <h2>NOT FOUND</h2>
    <button class="btn" (click)="retourAccueil()">appuie ici pour retourner à l'accueil</button>
    <div class="move">
        <div class="martian"></div>
    </div>
    <div class="sol">
        <img class="rocheVert" src="assets\img\animation\roche\rock2.png" alt="">
    </div>
    <img class="rocheGris" src="assets\img\animation\roche\rock1.png" alt="">
    <img class="rocheGris2" src="assets\img\animation\roche\rock1.png" alt="">
    <img class="rocheGris3" src="assets\img\animation\roche\rock1.png" alt="">
    <img class="rocheGris4" src="assets\img\animation\roche\rock1.png" alt="">
    <img class="rocheMarron" src="assets\img\animation\roche\rock3.png" alt="">
    <img class="rocheBleu" src="assets\img\animation\roche\rock4.png" alt="">
</section>
<div class="foot">e</div>